.home__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    height: 100vh;
  }

  section.second__section div {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 2rem;
    img {
      height: 400px;
    }
  }

  h1 {
    font-size: 5rem;
  }

  button {
    width: fit-content;
    background-color: none;
    cursor: pointer;
  }
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  img {
    height: 400px;
  }
}

.parallax {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .bcg__parallax {
    opacity: 0.5;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 150%;
    z-index: 1;
    top: 0;
    opacity: 0.7;
  }

  .parallax__content {
    z-index: 2;
    position: relative;
    width: 90%;
    text-align: center;
    opacity: 1;

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
    }
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: sans-serif;
}

.header {
  background-color: lightgray;
}
.first {
  background-color: lightyellow;
}
.second {
  background-color: lightblue;
}

.scroller__wrapper {
  body {
    overflow-x: hidden;
    background-color: #1b2b34;
  }

  .section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5vw;
    box-sizing: border-box;
  }

  .section__cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }

  .section__card {
    background-color: coral;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    & + .section__card {
      margin-left: 5vw;
    }
  }

  .section__title {
    color: #1b2b34;
  }

  .section[data-type="horizontal"] {
    overflow-x: hidden;
  }
}

.projects__wrapper section {
  .content__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 60%;

    img {
      border-radius: 50%;
    }
  }
}
