.home__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

// section {
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: sans-serif;
}

.header {
  background-color: lightgray;
}
.first {
  background-color: lightyellow;
}
.second {
  background-color: lightblue;
}

.scroller__wrapper {
  body {
    overflow-x: hidden;
    background-color: #1b2b34;
  }

  .section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5vw;
    box-sizing: border-box;
  }

  .section__cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }

  .section__card {
    background-color: coral;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    & + .section__card {
      margin-left: 5vw;
    }
  }

  .section__title {
    color: #1b2b34;
  }

  .section[data-type="horizontal"] {
    overflow-x: hidden;
  }
}
